* {
  margin: 0;
  padding: 0;
}
:root {
  --bg: linear-gradient(to right, #9796f0, #fbc7d4);
  --gradient: linear-gradient(to left, rgb(242, 112, 156), rgb(255, 148, 114));
  --shadow: 0 3px 3px -5px rgb(242, 112, 156), 0 2px 5px rgb(242, 112, 156);
}
body {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: var(--bg);
}
.avatar {
  width: 100px;
  height: 100px;
  display: flex;
  border-radius: 100px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  margin-bottom: 30px;
}
.avatar img {
  display: block;
  width: 100%;
}
.form_wrapper {
  width: 450px;
  height: 350px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #bdbdbd;
  box-shadow: var(--shadow);
}
.input_container {
  display: block;
  width: 300px;
  position: relative;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 15px;
  padding: 2px 30px;
  box-sizing: border-box;
}
.input_container input {
  border: none;
  outline: none;
}
.input_container input:focus {
  border: none;
  outline: none;
}
.user_ico,
.password_ico {
  position: absolute;
  top: 50%;
  left: 0;
  width: 15px;
  transform: translateY(-50%);
}
.toggleEye {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  cursor: pointer;
}
.toggleEye img {
  display: block;
  width: 100%;
}
.submit_btn {
  display: flex;
  width: 150px;
  height: 35px;
  border-radius: 35px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 15px;
  text-transform: uppercase;
  background-color: #9796f0;
  font-weight: bold;
  color: #fff;
}
